<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Статистика</title>
</head>
<body> {{need_for_stat}}
<p>Ой, какой ты молодец </p>
   <ul> Мужчины : {{men}}
   <li> Ответы : {{m_1}}</li>
   </ul>
   <ul> Женщины : {{women}}
   <li> Ответы : {{w_1}} </li> 
   </ul>
<p>Иди куда хочешь </p>
<ul> Мужчины :
   <li> Ответы:  {{m_2}}</li>
</ul>
<ul> Женщины :
   <li> Ответы:  {{w_2}}</li>
</ul>
<p>Все хорошо </p>
<ul> Мужчины :
   <li> Ответы:  {{m_3}} </li>
</ul>
<ul> Женщины :
   <li> Ответы:  {{w_3}} </li>
</ul>
<p>Молодец </p>
<ul> Мужчины :
   <li> Ответы:  {{m_4}} </li>
</ul>
<ul> Женщины :
   <li> Ответы: {{w_4}} </li>
</ul>
<p>Нет, не обиделась </p>
<ul> Мужчины :
   <li> Ответы:  {{m_5}}</li>
</ul>
<ul> Женщины :
   <li> Ответы:  {{w_4}} </li>
</ul>

</body>
</html>